{% extends "base.twig" %}
{% block content %}
    <div class="projects-grid">
        {% for project in projects %}
            <div class="project-item">
                <a href="{{ function('get_permalink', project.id) }}">
                 <div class="project-image">
                        {% if function('has_post_thumbnail', project.id) %}
                            <img 
                                src="{{ function('get_the_post_thumbnail_url', project.id, 'project-grid') }}"
                                alt="{{ project.title }}"
                                loading="lazy"
                            >
                        {% endif %}
                        
                </div>
                <div class="project-title">
                    <h3>{{ project.title }}</h3>
                </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}